*{margin: 0;padding: 0}
body{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610567215/catalog/MRG16/bg1_wmcezn.jpg);background-size: cover;width: 100vw;height: 100vh;}
.page page-toptan metne{max-height: 70vh}
.page-laser-to-text {
  position: relative;
  overflow: hidden;
}
  canvas {
    display: block;min-width: 300px;
    max-width: 100%;margin: 0 auto;
  }
  .wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}
.card .chabi{
      width: 90px;
      height: 90px;
      border-radius: 45px;margin: 0 auto;background-color: black;

}
.card .chabi img{
      width: 100%;
      height: 100%;border-radius: 45px
}

.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610567228/catalog/MRG16/bybg_yygocg.gif);
}
.swiper-slide:nth-child(1) .content{
color: #2196f3;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-slide:nth-child(2) .sliderText{
background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610567218/catalog/MRG16/glbg_rzshfr.gif);
}
.swiper-slide:nth-child(2) .content{
color: #e91e63;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-button-prev{
   background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
.swiper-button-next{
    background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
 h2{text-align: center;font-size: 27px;color: #FDC400;font-family: 'Kalpurush', sans-serif;width: 190px;height: 33px;border-radius: 43px;
    border: 1.5px solid white;display: block;margin: 15px auto;animation: bor 3s linear infinite}
    @keyframes bor{
        0%{border: 1.5px solid red}
        50%{border: 1px solid greenyellow}
        100%{border: 1.5px solid red}
    }
    .sucu{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610567214/catalog/MRG16/suvbg_j4pqst.jpg);border-radius: 26px}
    #design{display: block;margin: 0 auto}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: white;
    font-family: 'Kalpurush', sans-serif;}
    .nai{text-align: center;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;padding-top: 0px;
}
    #container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 90px;
height: 35px;
line-height: 35px;
text-align: center;
background: #FE073B;border-radius: 17px 17px 0px 0px;
color: white;
margin: 0 1px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -25px;
left: 0;
width: 90px;
height: 25px;
background: #2A2A2A;
color: white;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;} 
    .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
    border: 1.5px solid white;display: block;margin: 0 auto;color: #FDC400;animation: bor 3s linear infinite}  
    #fontcss{margin-left: 10px;margin-top: 15px;margin-bottom: 20px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #FDC400;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;background: rgba(0,0,0,0.2);border-radius: 26px;}
    .nibe{text-align: right;margin-right: 10px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #03B807;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}
  

    
